<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign in</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
    <form method = "post">
      <h1>Sign in</h1>
      {% if error %}
        <ul class = "messages" >
          {% if "password" in error %}
          <li class = "message">Wrong password</li>
          {%endif%}
          {% if "empty" in error %}
          <li class = "message">Fields might be empty!</li>
          {%endif%}
          {% if "username" in error %}
          <li class = "message">Username not found!</li>
          {%endif%}
        </ul>
        {%endif%}
      <div class="input-form">
          <input type="text" name = "username" placeholder="Enter Username">
      </div>
      <div class="input-form">
        <input type="password" name = "password" placeholder="Enter Password">
      </div>
      <div class="input-form">
        <input type="submit" value="Login">
      </div>
      <a href="/sign_up" class="forget">Register</a>
    </form>
</div>   
  </body>
</html>
