<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
    <form method = "post">
        <h1>Register</h1>
        {% if error %}
        <ul class = "messages" >
          {% if "different" in error %}
          <li class = "message">Passwords do not match!</li>
          {%endif%}
          {% if "empty" in error %}
          <li class = "message">Fields might be empty!</li>
          {%endif%}
          {% if "exists" in error %}
          <li class = "message">Username already exists!</li>
          {%endif%}
        </ul>
        {%endif%}
        <div class="input-form">
            <input type="text" name = "username" placeholder="Enter Username">
        </div>
        <div class="input-form">
          <input type="password" name = "password1" placeholder="Enter Password">
        </div>
        <div class="input-form">
          <input type="password" name = "password2" placeholder="Repeat Password">
        </div>
        <div class="input-form">
          <input type="submit" value="Register">
        </div>
        <a href="/login" class="forget">Sign in</a>
        </form>
  </div>   
  </body>
</html>

